<ion-header>
  <ion-toolbar>
    <ion-title>Company's Departments</ion-title>
    <ion-button routerLink="/login" color="primary" slot="end">
      Log In
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row color="primary">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>REGISTER</h3>
        </div>

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" name="username" [(ngModel)]="userName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button color="primary" (click)="register()">
          <ion-icon slot="start" name="add"></ion-icon>Register
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
