<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Workers of department #{{departmentId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Departments</ion-label>
      <ion-button shape="round" fill="outline"
                  color="success" (click)="add()">
        <ion-icon slot="start" name="add"></ion-icon>Add
      </ion-button>
    </ion-list-header>

    <app-worker *ngIf="showNew" [isNew]="true"
                    (workerAdded)="addWorker($event)"
                    (addingWorkerCanceled)="showNew=false"
                    ></app-worker>
    <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh"
                             refreshingSpinner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <div *ngFor="let worker of workers;">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="showEdit=worker.id">
            <ion-icon name="create"></ion-icon>Change
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(worker.id)">
            <ion-icon name="trash"></ion-icon>Delete
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>{{worker.lastName}}</ion-label>
          <ion-note slot="end">{{worker.position}}</ion-note>
        </ion-item>
      </ion-item-sliding>
      <app-worker *ngIf="showEdit==worker.id" [isNew]="false"
                      [worker]="worker"
                      (workerEdited)="editWorker($event)"
                      (editingWorkerCanceled)="showEdit=-1"></app-worker>
    </div>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="addData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
