<ion-card>
  <ion-card-header>
    <ion-card-title>{{title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="department.name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Available Vacancy Number</ion-label>
      <ion-input type="number" [(ngModel)]="department.vacancyNumber" name="vacancyNumber"></ion-input>
    </ion-item>

    <ion-button *ngIf="isNew" color="primary" (click)="addNew()">
      <ion-icon slot="start" name="add-circle"></ion-icon>Add
    </ion-button>

    <ion-button *ngIf="isNew" color="danger" class="ion-float-right" (click)="cancelAdding()">
      <ion-icon slot="start" name="close"></ion-icon>Cancel
    </ion-button>
  </ion-card-content>
</ion-card>
